.vscode/**
.vscode-test/**
out/test/**
test/**
src/**
**/*.map
.gitignore
tsconfig.json
vsc-extension-quickstart.md
.github
pnpm-lock.yaml
package-lock.json
yarn.lock
scripts/**
renovate.json
.release-it.cjs
.nvmrc
.lintstagedrc.cjs
.markdownlint.json
.czrc
.husky/**
